@import "../../scss/colors.scss";

.directions {
  &__wrapper {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1025px) {
      align-items: center;
    }
  }

  &__title {
    font-family: Raleway;
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0;
    width: fit-content;
    margin-bottom: 60px;

    background: url('../img/directions/directions-title.png') no-repeat center/cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #C5EF00;

    @media screen and (max-width: 1441px) {
      font-size: 45px;
    }
    @media screen and (max-width: 1025px) {
      font-size: 40px;
      text-align: center;
      margin-bottom: 50px;
    }
    @media screen and (max-width: 769px) {
      font-size: 30px;
      margin-bottom: 35px;
    }
  }

  &__text {
    color: #FFF;
    font-family: Raleway;
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 1136px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 32px 45px;
    box-sizing: border-box;
    position: relative;

    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);

    @media screen and (max-width: 1441px) {
      font-size: 29px;
    }
    @media screen and (max-width: 1025px) {
      font-size: 25px;
    }
    @media screen and (max-width: 769px) {
      font-size: 18px;
      padding: 20px 10px;
      text-align: center;
    }

    &:after {
      content: "";
      position: absolute;
      inset: calc(0px - 3px);
      /*
      если нет поддержки inset:
      top: var(--border-w);
      left: var(--border-w);
      right: var(--border-w);
      bottom: var(--border-w);
      */
      border-radius: 25px;
      padding: 3px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), linear-gradient(90deg, #C5EF00 0%, #DEDFD8 25%, #DFDFDF 75%, #C5EF00 100%);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask-composite: exclude;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    max-width: 1136px;
    width: 100%;

    @media screen and (max-width: 1025px) {
    }
    @media screen and (max-width: 769px) {
      align-items: center;
    }
  }

  &__item {
    color: #C5EF00;
    font-family: Raleway;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;
    padding-left: 15px;
    white-space: nowrap;
    width: fit-content;
    box-sizing: border-box;

    @media screen and (max-width: 1441px) {
      font-size: 32px;
    }
    @media screen and (max-width: 1025px) {
      font-size: 30px;
    }
    @media screen and (max-width: 769px) {
      font-size: 22px;
      width: 100%;
      justify-content: center;
      padding-left: 0;
    }

    &:nth-child(2) {
      width: 50%;

      @media screen and (max-width: 825px) {
        width: 60%;
      }
      @media screen and (max-width: 769px) {
        width: 100%;
      }
    }

    &:nth-child(3) {
      width: 75%;

      @media screen and (max-width: 825px) {
        width: 85%;
      }
      @media screen and (max-width: 769px) {
        width: 100%;
      }
    }

    &:nth-child(4) {
      width: 100%;
    }

    &:before {
      content: '';
      display: block;
      width: 8px;
      min-width: 8px;
      height: 8px;
      background: #C5EF00;
      border-radius: 50%;
    }
  }
}
