@import "../../scss/colors.scss";

.hero {
  position: relative;
  padding-top: 35px;
  padding-bottom: 150px;

  @media screen and (max-width: 1441px) {
    padding-bottom: 120px;
  }
  @media screen and (max-width: 1025px) {
    padding-bottom: 85px;
  }
  @media screen and (max-width: 769px) {
    padding-top: 15px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    width: 100%;
    max-height: 1500px;

    @media screen and (max-width: 1920px) {
      object-fit: cover;
    }
    @media screen and (max-width: 1441px) {
      max-height: 930px;
    }
    @media screen and (max-width: 1025px) {
      max-height: 831px;
      object-fit: cover;
    }
    @media screen and (max-width: 769px) {
      height: 340px;
      position: unset;
    }

    & img{
      width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1441px) {

    }
    @media screen and (max-width: 1025px) {

    }
    @media screen and (max-width: 769px) {
      align-items: center;
      padding: 0 15px;
    }

  }

  &__logo {
    display: flex;
    width: 410px;
    height: 100px;
    margin-bottom: 130px;

    @media screen and (max-width: 1441px) {
      width: 380px;
      height: 90px;
      margin-bottom: 110px;
    }
    @media screen and (max-width: 1025px) {
      width: 355px;
      height: 80px;
      margin-bottom: 90px;
    }
    @media screen and (max-width: 769px) {
      width: 300px;
      height: 65px;
      margin-bottom: 75px;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    background: url('../img/hero/hero-title.png') no-repeat center/cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #C5EF00;
    font-family: Raleway;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    width: fit-content;
    margin-bottom: 55px;

    @media screen and (max-width: 1441px) {
      font-size: 55px;
      margin-bottom: 45px;
    }
    @media screen and (max-width: 1025px) {
      font-size: 48px;
      margin-bottom: 35px;
    }
    @media screen and (max-width: 769px) {
      font-size: 32px;
      margin-bottom: 20px;
      text-align: center;
    }
    @media screen and (max-width: 340px) {
      font-size: 28px;
    }
  }

  &__text {
    border-radius: 25px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
    padding: 30px 45px;

    max-width: 645px;
    width: 100%;
    box-sizing: border-box;

    color: #FFF;
    font-size: 33px;
    font-style: normal;
    line-height: normal;
    position: relative;

    @media screen and (max-width: 1441px) {
      font-size: 32px;
    }
    @media screen and (max-width: 1025px) {
      max-width: 505px;
      font-size: 28px;
      padding: 30px;
    }
    @media screen and (max-width: 769px) {
      font-size: 20px;
      padding: 20px 25px;
      max-width: 450px;
      text-align: center;
    }
    @media screen and (max-width: 340px) {
      font-size: 16px;
      padding: 15px;
    }

    &:after {
      content: "";
      position: absolute;
      inset: calc(0px - 2px);
      /*
      если нет поддержки inset:
      top: var(--border-w);
      left: var(--border-w);
      right: var(--border-w);
      bottom: var(--border-w);
      */
      border-radius: 25px;
      padding: 3px;
      background: linear-gradient(90deg, #C5EF00 0%, #DEDFD8 25%, #DFDFDF 75%, #C5EF00 100%);
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
  }

  @media screen and (max-width: 340px) {
    max-width: 100%;
  }
}
